@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
       
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    line-height: 1.25;
}

#section {
    padding: 0 32px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
}

button {
    cursor: pointer;
    border: none;
}

button:active {
    transform: translateY(1px);
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    display: flex;
    padding: 96px 0;
}

.section__tag {
    letter-spacing: 1.6px;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

img {
    max-width: 100%;
    height: auto;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0;
}

.section__para {
    display: flex;
    line-height: 2;
    font-size: 18px;
    font-weight: 600;
    color: #7c8ba1;
}


.btn {
    background-color: #7342d6;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    margin-top: 32px;
}

/* 

NAVBAR ↓

*/


nav {
    height: 80px;
    display: flex;
    padding-top: 24px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: bold;
    color: #243E63;
    padding-top: 4px;
    position: relative;
    transition: 300ms ease-in-out;
}

.nav__link--login {
    padding-left: 48px;
}

.nav__link--sign-up {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 500px;
    color: #f7fafc;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.nav__link:hover {
    text-decoration: underline;
    color: #6415ff;
    }

.nav__link--sign-up:hover {
    text-decoration: none;
    color: #fff;
    
}

.logo {
    width: 60px;
    padding-right: 10px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
}


.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/

.header__container{
    display: flex;
    flex-direction: row;
    padding: 96px 0;
    max-width: 1280px;
    margin: 0 auto;
} 

header {
    height: calc(100vh - 80px);
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 80%;
    flex: 1;
}

p {
    font-size: medium;
}

.header__description--para {
    font-size: 18px;
    line-height: 1.5;
    margin: 32px 0;
}

.header__email {
    width: 100%;
    min-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__customers--title {
    padding-top: 36px;
    text-size-adjust: calc(50%);
    opacity: 50%;
}

.header__customers--img {
    padding-right: 80px;
    padding-top: 16px;
    opacity: 50%;
}

.header__img--wrapper {
    width: 100%;
    }

.header__img {
    width: 100%;
    max-width: 768px;
}


/* 

FEATURES ↓

*/


.section__title {
    text-align: center;
}

#features .section__para {
    text-align: center;
    margin: 8px 208px;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;

}

.feature {
    width: calc(100% / 3);
    padding: 16px 24px;
}


.feature__row {
    display: flex;
    align-items: start;

}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 300px;
}

.feature__img {
    width: 60px;
    height: auto;
}

.feature__text {
    padding: 8px 16px;
}

.feature__title {
    padding: 8px;
}

.feature__para {
    padding-top: 24px;
    line-height: 2;
}



/* 

QUALITY WORK ↓

*/

#quality .row {
    align-items: center;
}

.quality__description {
    width: 80%;
}

.section__title {
    text-align: left;
}

.section__para {
    text-align: left;
}

.quality__img--wrapper {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    margin: 0 56px;
    z-index: 2;
    border: 1px solid rgb(226, 226, 226);
}

.quality__img {
    z-index: 1;
}

/* 
I didn't know how to create or build the grid,
so I copy pasted it from the example. Both HTML and CSS.
I believe from this I can figure it out in the future.
*/
.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}



/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    align-items: center;
}

.steps__img--wrapper {
    width: 50%;
    margin-top: 120px;
}

.steps__grid {
  position: relative;
  bottom: 11vh;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 10rem;
  opacity: 0.8;
  z-index: -10;
  color: rgb(100, 21, 255); /* currentColor will inherit this */
  fill: currentColor;
}

.steps__process {
    padding: 40px 0;
    padding-left: 60px;
}

.step {
    display: flex;
    margin: 24px 8px;
}

.step__number {
    font-size: 32px;
    font-weight: 600;
    opacity: 30%;
}

.step__description {
    margin-left: 24px;
}

.step__title {
    font-size: 20px;
    font-weight: bold;
}

.step__para {
    line-height: 1.8;
    margin-top: 16px;
    max-width: 360px;
}

/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__description {
    width: 80%;
}

#values .section__para {
    font-weight: 400;
    line-height: 1.5;
}

.values__list {
    display: flex;
    flex-direction: row;
}

.value {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-right: 24px;
}

.value__title {
    display: flex;
    align-items: center;
}

.value__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.value__img {
    width: 20px;
    height: 20px;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae64b;
}

.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}

.value__name {
    font-weight: bold;
    font-size: 20px;
    margin-left: 12px;
}

.value__para {
    line-height: 1.5;
    color: #7c8ba1;
    margin-top: 24px;
}

.values__img--wrapper {
    width: 100%;
}

.values__img {
    width: 100%;
}


/*

PRICING ↓

*/



#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing .section__para {
    text-align: center;
    max-width: 40%;
}

.plans {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.plan {
    display: flex;
    text-align: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: calc(100% / 3);
    padding: 8px;
    margin: 16px;
}

.plan__top, .plan__middle, .plan__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: .05px solid rgb(235, 235, 235);
    padding: 24px 0;
    background-color: #fff;    
}

.plan__top {
    border-radius: 8px 8px 0 0
}

.plan__bottom {
    border-radius: 0 0 8px 8px;
}

.plan__name {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.5;
    padding-top: 24px;
}

.plan__price{
    font-weight: bold;
    font-size: 48px;
    margin-top: 24px;
}

.plan__period {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 24px;
    opacity: 50%;
}

.plan__size {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.5;
}

.plan__feature {
    font-weight: bold;
    font-size: 16px;
    margin-top: 24px;
    opacity: 60%;
}

.plan__btn {
    color: #6415ff;
    background-color: #fff;
    padding: 12px 60px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 8px;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0 8px;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__btn {
    color: #f7fafc;
    /*I copied this one, so I could learn to build the next one*/
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__period, .plan:nth-child(2) .plan__period, .plan:nth-child(2) .plan__size, .plan:nth-child(2) .plan__feature {
    color: #fff;
    opacity: 100%;
}

.plan:nth-child(2) .plan__top, .plan:nth-child(2) .plan__middle, .plan:nth-child(2) .plan__bottom {
    background-color: rgb(102, 126, 234);
    border: .05px solid rgb(117, 142, 252); 
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/*
I didn't know how to create or build the blob,
so I copy pasted it from the example. Both HTML and CSS.
I believe from this I can figure it out in the future.
*/

.plans__blob {
    position: absolute;
    height: 256px;
    width: 256px;
    left: 0;
    bottom: 0;
    z-index: -10;
    transform: translateX(-40%) translateY(40%) scaleX(1)
    scaleY(1);
    opacity: 50%;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.testimonials__img {
    width: 50%;
    height: auto;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.section__para {
    line-height: 1.5;
}

.testimonial {
    padding-top: 40px;
}

.fa-star {
    color: #fabf2a;
}

.testimonial__title {
    padding-top: 24px;
    letter-spacing: 1px;
}

.testimonial__para {
    padding-top: 24px;
    line-height: 1.5;
}

.testimonial__bottom {
    display: flex;
    padding-top: 48px;
    align-items: center;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
}

.testimonial__img {
    width: 80px;
    border-radius: 50%;
}

.testimonial__details {
    display: flex;
    flex-direction: column;
    padding: 8px 0 8px 24px;
    justify-content: space-around;
}

.testimonial__name {
    font-weight: bold;
    font-size: 20px;
}

.testimonial__role {
    font-weight: 600;
    opacity: 60%;
}

.testimonial__button {
    padding: 20px;
    border-radius: 50%;
    margin: 8px;
    background-color: #e1f4fc;
}

.fa-arrow-left, .fa-arrow-right {
    color: #6415ff;
}

/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
    background-color: #6415ff;
}

.row {
    width: 100%;
    max-width: 1280px;
    border-color: #6415ff;
}

.start__para {
    font-size: 32px;
    color: #fff;
    margin-left: 176px;
    z-index: 1;
}

.start__blob--1, .start__blob--2{
    height: 320px;
    width: 320px;
    opacity: 0.5;
}

.start__blob--1 {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-80px, 128px);

}

.start__blob--2 {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(80px, -256px);
}

.start__box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 240px;
}

.start__buttons {
    padding-right: 128px;
    display: flex;
}

#start .btn {
    padding: 8px 48px;
    margin: 0 24px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
}

#start .btn:nth-child(1) {
    background-color: #f56565;
}

#start .btn:nth-child(2) {
    border: 1px solid #a0aec0;
}

/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    }

.footer__row {
    display: flex;
    flex-direction: column;
}

.footer__columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2;
    z-index: 1;
    margin-bottom: 60px;
    }

.footer__column {
    display: flex;
    flex-direction: column;
    color: #f7fafc;
    font-size: 16px;
    letter-spacing: -1px;
}

.footer__column--title {
    color: #f7fafc;
    padding-bottom: 16px;
    font-weight: bold;
}

.footer__column--link {
    color: #f7fafc;
    }

.footer__blob--1, .footer__blob--2{
    height: 320px;
    width: 320px;
    opacity: 0.5;
}

.footer__blob--2 {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-80px, -328px);
}

.footer__blob--1 {
    position: absolute;
    right: 0;
    top: 2;
    transform: translate(132px, 288px);
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    border-top: 2px solid #742cff;
}

.footer__logo {
    display: flex;
    align-items: center;
    z-index: 1;
}

.footer__logo--img {
    width: 32px;
}

.footer__logo--title {
    color: #f7fafc;
    padding-left: 8px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1.2px;
}

.footer__copyright {
    color: #f7fafc;
}

.footer__socials {
    z-index: 1;
    display: flex;
}

.footer__social--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
}

.footer__social--link svg {
    height: 16px;
    width: 16px;
}

.footer__social--link:hover {
    transform: scale(1.03);
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
     .nav__links {
        display: none;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }

    .nav__links {
        display: none;
    }

    #features {
        padding-top: 120px;
        justify-content: center;
        align-items: center;
    }
}